//sombras de cuadros
$sombra_index: #acabab;

//background-color imagenes portadas
$bg_portadas:#323232;

//texto foto productos
$tx_productos:#777777;

//espaciado minimo
$gap_1: 1rem;

//espaciado 2
$gap_2: 2rem;